$endo-logo-yellow: #ffc72c;
$endo-logo-orange: #f1b434;
$endo-logo-grey: #707372;

$endo-orange-light: #ed8b00;
$endo-orange-dark: #e87722;
$endo-green-light: #c4d600;
$endo-green-dark: #a8ad00;
$endo-blue-light: #0093b2;
$endo-blue-dark: #007396;
$endo-purple-light: #b52555;
$endo-purple-dark: #ac145a;
$endo-grey: #9ea2a2;