// Bootstrap brand color customization
// $brand-primary: $purple !default;
// $brand-success: $green !default;
// $brand-danger: $red !default;
// $brand-warning: $orange !default;
// $brand-info: $cyan !default;
// $brand-accent: $pink !default;
$brand-primary: $endo-blue-dark !default;
$brand-success: $endo-green-dark !default;
$brand-danger: $red !default;
$brand-warning: $endo-logo-orange !default;
$brand-info: $endo-orange-dark !default;
$brand-accent: $endo-purple-light !default;
  